<body>
  <header>
    <h1>Balance Forecast</h1>
    <% if current_user %>
      <div class="dropdown d-inline">
        <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to 'Change email or password', edit_user_registration_path(current_user), class: 'dropdown-item' %>
        </div>
      </div>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </header>

  <main role="main">
    
    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-info" role="alert"><%= notice %></div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
      <% end %>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="top-row-cells"></th><th class="top-row-cells"></th><th class="top-row-cells"></th>
            <th class="text-right current-balance-label-cell" style="font-weight: 400;">
              Current balance:
            </th>
            <th class="h4" id="currentBalanceCell">
              $<span data-current-balance data-user-id="<%= current_user.id %>" id="currentBalance"><%= (current_user.current_balance / 100.00).round %></span>
            </th>
          </tr>
          <tr class="header-row">
            <th scope="col">
              Date
            </th>
            <th scope="col">
              Description
            </th>
            <th scope="col">
              Frequency
            </th>
            <th scope="col">
              Amount
            </th>
            <th scope="col">
              Balance
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="new-entry-row">
          <%= form_for(@entry) do |f| %>
            <td>
              <%= f.date_field :date %>
            </td>
            <td>
              <%= f.text_field :description %>
            </td>
            <td>
              <%= f.text_field :frequency %> <!-- change to dropdown -->
            </td>
            <td>
              <%= f.number_field :amount %>
              <p class="text-muted small m-0">(in cents)</p>
            </td>
            <td>
              <%= f.submit 'Add', class: 'btn btn-success' %>
            </td>
          <% end %>
          </tr>
        </tbody>
        <tbody class="entries-table">
        </tbody>
      </table>

      <select id="test-select">
        <option value="test1">Test 1</option>
        <option value="test2">Test 2</option>
      </select>
    </div>
  </main>

  <footer>

  </footer>

  <script>
    $(function() {
      $.get("/entries").success(function(data) {
        var currentBalance = document.getElementById("currentBalance").innerHTML;
        var newBalance = parseInt(currentBalance);
        var allEntryRows = "";
        var userID = $('#currentBalance').data("user-id");

        $.each(data, function(index, entry) {
          newBalance = newBalance - Math.round(entry.amount / 100.00);
          var entryRow = '<tr class="entryRow"><td><span data-date data-id="' + entry.id + '">' + entry.date + '</span></td><td><span data-description data-id="' + entry.id + '">' + entry.description + '</span></td><td><span data-frequency data-id="' + entry.id + '">' + entry.frequency + '</span></td><td><span data-amount data-id="' + entry.id + '">$' + Math.round(entry.amount / 100.00) + '</span></td><td>$' + 
          newBalance
          + '</td><td class="entry-actions-cell"><input class="clear" type="checkbox"' + ' data-id="' + entry.id + '" data-user-id="' + entry.user_id + '" data-amount="' + Math.round(entry.amount / 100.00) + '"><i class="far fa-trash-alt ml-2"' + ' data-id="' + entry.id + '"></i></td></tr>';

          allEntryRows += entryRow;
        });

        var entriesTable = $('.entries-table');
        entriesTable.html(allEntryRows);

        // update current balance
        $('#currentBalanceCell').on('click', '[data-current-balance]', function() {
          var $el = $(this);
          var $input = $('<input/>').val($el.text());
          $el.replaceWith($input);
          
          var save = function(){
            var $span = $('<span data-current-balance id="currentBalance" />').text($input.val());
            $input.replaceWith($span);

            updatedBalance = document.getElementById("currentBalance").innerHTML;
            
            $.post("/users/" + userID, {
              _method: "PUT",
              user: {
                current_balance: updatedBalance
              }
            });
          };
          
          $input.one('blur', save).focus();
        });

        // update date
        $('.entryRow').on('click', '[data-date]', function(e) {
          var entryID = $(e.target).data("id");
          var $el = $(this);
          var $input = $('<input type="date" />').val($el.text());
          $el.replaceWith($input);
          
          var save = function(){
            var $span = $('<span data-date id="updatedDateCell" />').text($input.val());
            $input.replaceWith($span);

            var updatedDate = document.getElementById("updatedDateCell").innerHTML;
            
            $.post("/entries/" + entryID, {
              _method: "PUT",
              id: entryID,
              entry: {
                date: updatedDate,
                success: location.reload()
              }
            });
          };
          
          $input.one('blur', save).focus();
        });

        // update description
        $('.entryRow').on('click', '[data-description]', function(e) {
          var entryID = $(e.target).data("id");
          var $el = $(this);
          var $input = $('<input/>').val($el.text());
          $el.replaceWith($input);
          
          var save = function(){
            var $span = $('<span data-description id="updatedDescriptionCell" />').text($input.val());
            $input.replaceWith($span);

            var updatedDescription = document.getElementById("updatedDescriptionCell").innerHTML;
            
            $.post("/entries/" + entryID, {
              _method: "PUT",
              id: entryID,
              entry: {
                description: updatedDescription,
                success: location.reload()
              }
            });
          };
          
          $input.one('blur', save).focus();
        });

        // update frequency
        $('.entryRow').on('click', '[data-frequency]', function(e) {
          var entryID = $(e.target).data("id");
          var $el = $(this);
          var $select = $('<select id="frequency-select"><option value="one-time">One-time</option><option value="weekly">Weekly</option><option value="bi-weekly">Bi-weekly</option><option value="monthly">Monthly</option><option value="bi-monthly">Bi-monthly</option><option value="quarterly">Quarterly</option><option value="annually">Annually</option></select>').val($el.text());
          $el.replaceWith($select);
          console.log($select.val());
          
          var save = function(){
            var $span = $('<span data-frequency id="updatedFrequencyCell" />').text($select.val());
            $select.replaceWith($span);

            var updatedFrequency = document.getElementById("updatedFrequencyCell").innerHTML;
            
            $.post("/entries/" + entryID, {
              _method: "PUT",
              id: entryID,
              entry: {
                frequency: updatedFrequency,
                success: location.reload()
              }
            });
          };
          
          $select.one('blur', save).focus();
        });

        // update amount
        $('.entryRow').on('click', '[data-amount]', function(e) {
          var entryID = $(e.target).data("id");
          var $el = $(this);
          var $input = $('<input type="number"/>').val($el.text());
          $el.replaceWith($input);
          
          var save = function(){
            var $span = $('<span data-amount id="updatedAmountCell" />').text($input.val());
            $input.replaceWith($span);

            var updatedAmount = document.getElementById("updatedAmountCell").innerHTML;
            
            $.post("/entries/" + entryID, {
              _method: "PUT",
              id: entryID,
              entry: {
                amount: updatedAmount,
                success: location.reload()
              }
            });
          };
          
          $input.one('blur', save).focus();
        });

        // clear entry - delete and update balance
        $('.clear').change(function(e) {
          var entryID = $(e.target).data("id");
          var amount = $(e.target).data("amount");
          var updatedBalance = (currentBalance - amount) * 100;

          $.post("/users/" + userID, {
            _method: "PUT",
            user: {
              current_balance: updatedBalance,
              success: location.reload()
            }
          });

          $.ajax({
            type: "DELETE",
            url: "/entries/" + entryID
          });
        });

        $('.fa-trash-alt').click(function(e) {
          var entryID = $(e.target).data("id");

          $.ajax({
            type: "DELETE",
            url: "/entries/" + entryID
          });
        });
      });
    });
  </script>