<% vs_padding = VerticalSpacing.find(current_user.vertical_spacing_id).padding %>

<body data-no-turbolink="true">
    <header>
        <div class="container-lg">
            <nav class="navbar navbar-light p-0">
                <%= link_to 'Balance Forecast', root_path, class: 'navbar-brand' %>
                <div class="dropdown d-inline align-middle">
                    <a class="d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" title="Settings" aria-haspopup="true" aria-expanded="false">
                        Settings
                        <i class="fas fa-2x fa-cogs ml-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            Time Period to Display
                        </a>
                            <%# <a type="button" data-toggle="dropdown" title="Time Period to Display" aria-haspopup="true" aria-expanded="false"> %>
                            <%# </a> %>
                        <div class="dropdown-menu dropdown-submenu dropdown-submenu-left" aria-labelledby="load-more-dropdown">
                            <button type="button" class="dropdown-item" id="load-more-3">3 months
                                <% if current_user.months_to_display == 3 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-6">6 months
                                <% if current_user.months_to_display == 6 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-9">9 months
                                <% if current_user.months_to_display == 9 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-12">1 year
                                <% if current_user.months_to_display == 12 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-24">2 years
                                <% if current_user.months_to_display == 24 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-36">3 years
                                <% if current_user.months_to_display == 36 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-48">4 years
                                <% if current_user.months_to_display == 48 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-60">5 years
                                <% if current_user.months_to_display == 60 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                        </div>
                        <%= link_to 'Change email or password', edit_user_registration_path(current_user), class: 'dropdown-item' %>
                        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-5">
        <div class="container-lg py-3">
            <% if notice.present? %>
                <div class="alert alert-info" role="alert">
                    <%= notice %>
                    <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            <% end %>
            <% if alert.present? %>
                <div class="alert alert-danger" role="alert">
                    <%= alert %>
                    <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            <% end %>
            <div class="table-header d-flex justify-content-between align-items-end">
                <div id="todays-date">Today's date:<br /></div>
                
                <div class="table-header__buttons d-flex">
                    <div class="dropdown">
                        <button class="btn btn-period btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-calendar-alt mr-1"></i>
                            Time period to display
                        </button>
                        <div class="dropdown-menu" aria-labelledby="load-more-dropdown">
                            <button type="button" class="dropdown-item" id="load-more-3">3 months
                                <% if current_user.months_to_display == 3 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-6">6 months
                                <% if current_user.months_to_display == 6 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-9">9 months
                                <% if current_user.months_to_display == 9 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-12">1 year
                                <% if current_user.months_to_display == 12 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-24">2 years
                                <% if current_user.months_to_display == 24 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-36">3 years
                                <% if current_user.months_to_display == 36 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-48">4 years
                                <% if current_user.months_to_display == 48 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="load-more-60">5 years
                                <% if current_user.months_to_display == 60 %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block" id="vsDropdown" data-vertical-spacing="<%= vs_padding %>">
                        <button class="btn btn-period btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-arrows-up-down mr-1"></i>
                            Vertical spacing
                        </button>
                        <div class="dropdown-menu" aria-labelledby="load-more-dropdown">
                            <button type="button" class="dropdown-item" id="tight">Tight
                                <% if vs_padding == '.25rem .5rem' %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="relaxed">Relaxed
                                <% if vs_padding == '.5rem .75rem' %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                            <button type="button" class="dropdown-item" id="loose">Loose
                                <% if vs_padding == '.75rem' %>
                                    <i class="fa-solid fa-circle-check ml-2"></i>
                                <% end %>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="text-right" id="currentBalanceCell">
                    <span id="currentBalanceLabel">Current balance:</span><br />
                    <span data-current-balance data-user-id="<%= current_user.id %>" data-time-zone-offset="<%= TimeZone.find(current_user.time_zone_id).relative_to_gmt %>" id="currentBalance" class="h4"><%= number_to_currency(current_user.current_balance) %></span><i id="currentBalSaveIcon" class="fas fa-save m-2 d-none"></i>
                </div>
            </div>
            <table class="table table-striped table-bordered m-0 p-0">
                <thead class="m-0 p-0">
                    <tr class="header-row">
                        <th scope="col" class="date-col">
                            Date
                        </th>
                        <th scope="col">
                            Description
                        </th>
                        <th scope="col" class="freq-col">
                            Frequency
                        </th>
                        <th scope="col" class="amt-col">
                            Amount
                        </th>
                        <th scope="col" class="bal-col">
                            Balance
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="new-entry-row">
                        <%= form_for(@entry) do |f| %>
                            <td class="date-col">
                                <%= f.date_field :date, class: 'form-control' %>
                            </td>
                            <td>
                                <%= f.text_field :description, class: 'form-control' %>
                            </td>
                            <td>
                                <%= f.select :frequency, options_for_select([
                  ["", ""], 
                  ["One-time", "one-time"], 
                  ["Weekly", "weekly"], 
                  ["Bi-weekly", "bi-weekly"], 
                  ["Monthly", "monthly"], 
                  ["Bi-monthly", "bi-monthly"],
                  ["Quarterly", "quarterly"],
                  ["Annually", "annually"]
                ]), {}, {class: 'form-control'} %>
                            </td>
                            <td>
                                <%= f.number_field :amount, step: 0.01, class: 'form-control' %>
                            </td>
                            <td>
                                <%= f.submit 'Add', id: 'add-btn', class: 'btn btn-gree' %>
                            </td>
                        <% end %>
                    </tr>
                </tbody>
                <tbody class="entries-table table-active">
                </tbody>
            </table>
        </div>
    </main>
    <footer class="footer py-3 px-1">
        <div class="container-lg small">
            <div class="footer__legal">
                <%= link_to 'Privacy Policy', privacy_path %>
                <%= link_to 'Terms of Use', terms_path, class: 'ml-2 ml-sm-3' %>
                <span class="float-right copyright">&copy; <span id="copyright-year"></span> Balance Forecast</span>
            </div>
        </div>
    </footer>
