<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light p-0 col-11">
        <%= link_to 'Balance Forecast', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTop">
          <ul class="navbar-nav ml-auto p-2">
            <li class="nav-item">
              <div class="dropdown d-inline">
                <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'Change email or password', edit_user_registration_path(current_user), class: 'dropdown-item' %>
                </div>
              </div>
            </li>
            <li class="nav-item ml-4">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'align-middle' %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main role="main" class="py-4"> 
    <div class="container pb-5">
      <% if notice.present? %>
        <div class="alert alert-info" role="alert"><%= notice %></div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
      <% end %>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="top-row-cells"></th><th class="top-row-cells"></th><th class="top-row-cells"></th>
            <th class="text-right current-balance-label-cell" style="font-weight: 400;">
              Current balance:
            </th>
            <th class="h4" id="currentBalanceCell">
              $<span data-current-balance data-user-id="<%= current_user.id %>" id="currentBalance"><%= (current_user.current_balance / 100.00).round %></span>
            </th>
          </tr>
          <tr class="header-row">
            <th scope="col">
              Date
            </th>
            <th scope="col">
              Description
            </th>
            <th scope="col">
              Frequency
            </th>
            <th scope="col">
              Amount
            </th>
            <th scope="col">
              Balance
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="new-entry-row">
          <%= form_for(@entry) do |f| %>
            <td>
              <%= f.date_field :date %>
            </td>
            <td>
              <%= f.text_field :description %>
            </td>
            <td>
              <%= f.select :frequency, options_for_select([
                  ["", ""], 
                  ["One-time", "one-time"], 
                  ["Weekly", "weekly"], 
                  ["Bi-weekly", "bi-weekly"], 
                  ["Monthly", "monthly"], 
                  ["Bi-monthly", "bi-monthly"],
                  ["Quarterly", "quarterly"],
                  ["Annually", "annually"]
                ]), class: '' %>
            </td>
            <td>
              <%= f.number_field :amount %>
              <p class="text-muted small m-0">(in cents)</p>
            </td>
            <td>
              <%= f.submit 'Add', class: 'btn btn-success' %>
            </td>
          <% end %>
          </tr>
        </tbody>
        <tbody class="entries-table">
        </tbody>
      </table>
    </div>
  </main>

  <footer class="footer py-3">
    <div class="container small">
      <%= link_to 'Privacy Policy', privacy_path %>
      <%= link_to 'Terms of Use', terms_path, class: 'ml-2 ml-sm-3' %>

      <span class="text-muted float-right">&copy; 2020 Balance Forecast</span>
    </div>
  </footer>
  