<body style="display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-top: 40px; padding-bottom: 40px;" class="text-center">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <h5 class="h2 mb-4">Balance Forecast</h5>
    <h3 class="h5 mb-3 font-weight-normal">Sign up</h3>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control mb-4" %>
    
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password again", class: "form-control mb-3" %>

    <p class="mb-0 text-muted">Select time zone</p>
    <%= f.collection_select :time_zone_id, TimeZone.all, :id, :description, class: "mb-3" %>
    <%# f.number_field :time_zone_id %>

    <%= f.submit "Sign up", class: 'btn btn-lg btn-gree btn-block my-4' %>

    <%= render "devise/shared/links" %>
  <% end %>
  