<% content_for :head do %>
  <%= stylesheet_link_tag "vcenter" %>
<% end %>

<body style="" class="text-center">
    <div class="form-container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
            <h1 class="h2 mb-4">Balance Forecast</h1>
            <h2 class="h5 mb-3 font-weight-normal">Log In</h2>

            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>

            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>

            <% if devise_mapping.rememberable? %>
            <div class="field checkbox mb-3">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, 'Remember Me' %>
            </div>
            <% end %>

            <%= f.submit "Log In", class: "btn btn-lg btn-gree btn-block mb-4" %>

            <%= link_to "Sign Up", new_user_registration_path, class: 'mr-4' %>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot Password", new_password_path(resource_name) %>
            <% end -%>
        <% end %>
    </div>

