<!DOCTYPE html>
<html>
    <head>
        <title>Balance Forecast</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://kit.fontawesome.com/5c6b9f4f60.js" crossorigin="anonymous"></script>
        <%= yield(:head) %>
        <style>
            :root {
                --vs-padding: <%= VerticalSpacing.find(current_user.vertical_spacing_id).padding || '0.75rem' %>;
            }
        </style>
    </head>
    <%= yield %>
</body>
</html>
